$triad-color-1: #999fa3;
$triad-color-2: #33332e;
$triad-color-3: #212121; // BASE
$triad-color-4: #1e2021;
$triad-color-5: #999fa3;

$complementary-color-1: #a19191;
$complementary-color-2: #fff;
$complementary-color-3: #ececec; // BASE
$complementary-color-4: #81a18a;
$complementary-color-5: #ededed;
